---
import settings from "../data/settings.json"
import { Image } from "astro:assets"
import circle from "../assets/circle.svg"
---

<section class="relative pt-20 2xl:pt-40 bg-gray-950" id="contact">
	<div class="absolute top-0 right-0 hidden w-1/2 h-full bg-gray-900 border lg:block border-l-gray-50"></div>
	<div class="container px-4 mx-auto">
		<div class="max-w-5xl mx-auto">
			<div class="flex flex-wrap -mx-4">
				<div class="relative w-full px-4 pb-20 overflow-hidden lg:w-1/2">
					<Image src={circle} class="absolute bottom-0 right-0 hidden w-full h-screen -mr-20 lg:block -mb-52" alt="Circle" />
					<Image src={circle} class="absolute bottom-0 right-0 hidden -mb-64 lg:block -mr-52" alt="Circle" />
					<div class="relative max-w-md">
						<div class="pb-16 mb-8 border-b border-gray-400">
							<span class="text-lg font-bold text-blue-400">Have a question?</span>
							<h2 class="mt-10 mb-16 text-5xl font-bold text-white font-heading">Beam Up Your Offer Today.</h2>
							<div class="px-8 py-6 mb-4 bg-gray-800 rounded-lg">
								<div class="flex items-center">
									<span class="flex items-center justify-center w-12 h-12 mr-8 rounded-lg bg-sky-500">
										<svg class="w-4 h-4" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path
												d="M17.9347 13.3167C17.811 12.6058 17.2022 12.0401 16.4551 11.94L12.3077 11.3855C11.555 11.2832 10.8101 11.6825 10.4984 12.3528C10.4185 12.5237 10.3521 12.7014 10.2981 12.8848C9.13582 12.4 8.09277 11.7004 7.19375 10.8018C6.29473 9.90315 5.59374 8.86053 5.10992 7.6987C5.29332 7.64471 5.4711 7.57835 5.64213 7.4985C6.31274 7.18695 6.70993 6.44351 6.60866 5.69108L6.05394 1.54536C5.9538 0.797426 5.38784 0.188953 4.66434 0.0641091C4.40105 0.0202451 4.18164 0 3.97348 0C2.61201 0 1.32368 0.71982 0.612565 1.87716C-0.157059 3.13122 -0.0501675 4.73507 0.128736 5.9925C0.533802 8.84029 1.99766 11.7038 4.14451 13.8498C5.74002 15.4446 7.71246 16.6402 9.84693 17.306C10.9339 17.6457 12.2942 18 13.605 18C14.5851 18 15.537 17.802 16.3235 17.2498C17.3733 16.5109 18 15.3052 18 14.0196C18 13.8115 17.9797 13.5911 17.9347 13.3167Z"
												fill="white"></path>
										</svg>
									</span>
									<p class="text-lg font-bold text-white"><a href={`tel:${settings.phone}`}>{settings.phone}</a></p>
								</div>
							</div>
							<div class="px-8 py-6 mb-4 bg-gray-800 rounded-lg">
								<div class="flex items-center">
									<span class="flex items-center justify-center w-12 h-12 mr-8 rounded-lg bg-sky-500">
										<svg class="w-5 h-4" width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path
												d="M18.8109 0H2.1878C0.981688 0 0 0.980499 0 2.18676V11.8119C0 13.0182 0.981688 14 2.1878 14H18.8122C20.0183 14 21 13.0182 21 11.8119V2.18676C20.9987 0.980499 20.017 0 18.8109 0ZM19.2492 4.73317L11.716 8.67092C11.3393 8.86387 10.9193 8.96887 10.4993 8.96887C10.0794 8.96887 9.66858 8.86387 9.28273 8.67092L1.74945 4.73317V2.75511L10.0872 7.11288C10.3405 7.24414 10.6555 7.24414 10.9101 7.11288L19.2479 2.75511V4.73317H19.2492Z"
												fill="white"></path>
										</svg>
									</span>
									<p class="text-lg font-bold text-white"><a href={`mailto:${settings.email}`}>{settings.email}</a></p>
								</div>
							</div>
							<div class="px-8 py-6 mb-4 bg-gray-800 rounded-lg">
								<div class="flex items-center">
									<span class="flex items-center justify-center w-12 h-12 mr-8 rounded-lg bg-sky-500">
										<svg class="w-5 h-5" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path
												d="M18.5 11C16.0185 11 14 13.0962 14 15.6729C14 19.2285 17.8951 22.6871 18.0612 22.8339C18.3123 23.0554 18.6877 23.0554 18.9388 22.8339C19.1049 22.6885 23 19.2298 23 15.6729C23 13.0962 20.9815 11 18.5 11ZM18.5 17.4618C17.5077 17.4618 16.7003 16.6338 16.7003 15.6161C16.7003 14.5985 17.5077 13.7705 18.5 13.7705C19.4923 13.7705 20.2997 14.5985 20.2997 15.6161C20.2997 16.6338 19.4923 17.4618 18.5 17.4618Z"
												fill="white"></path>
											<path
												d="M9.01758 0C4.04824 0 0 4.04035 0 9C0 13.9597 4.04824 18 9.01758 18C9.90081 18 10.7583 17.8745 11.5604 17.6315C10.1794 14.5374 10.8571 11.7539 12.7236 9.9193C12.6912 9.9193 12.2597 9.73436 12.2272 9.72086C8.69567 8.37903 5.3927 12.6232 8.35888 16.156C6.02299 15.94 4.00361 14.6171 2.84987 12.7096C4.09829 12.4153 5.00721 11.3057 5.02344 9.9922C5.04373 9.16199 5.60505 8.59232 6.30433 8.43573C9.41794 7.77021 9.7128 3.90535 8.51307 1.83051C9.34355 1.78461 10.0442 1.80756 11.0383 2.10049C10.7881 4.61407 12.1501 7.66087 15.1596 7.37468L16.0158 7.27614C16.0875 7.57312 16.1335 7.87011 16.1605 8.18464C16.7272 8.08745 17.4468 8.06855 18 8.17519C17.5739 3.60027 13.7056 0 9.01758 0Z"
												fill="white"></path>
										</svg>
									</span>
									<p class="text-lg font-bold text-white">Central Illinois</p>
								</div>
							</div>
						</div>
						<div class="max-w-xs"><p class="text-gray-400">Office hours 9am - 5pm</p></div>
					</div>
				</div>
				<div class="relative w-full px-4 pb-20 lg:w-1/2">
					<div class="max-w-lg lg:ml-20">
						<!--FORM START -->
						<form
							name="contact"
							method="POST"
							autocomplete="on"
							data-netlify="true"
							data-netlify-honeypot="bot-field"
							x-data="{
					    name: '',
					    email: '',
					    phone: '',
					    address: '',
					    time: '',
					    sellby: '',
					    price: '',
					    message: '',
					    userType: '',
					    propertyStatus: '',
							status: '',
							agreed: '',
					    errors: {},
					    validateField(field) {
					      this.errors[field] = '';
					      switch(field) {
					        case 'name':
					          if (!this.name) this.errors.name = 'Name is required';
					          break;
					        case 'email':
					          if (!this.email) this.errors.email = 'Email is required';
					          else if (!/^[^@]+@[^@]+\.[a-zA-Z]{2,}$/.test(this.email)) this.errors.email = 'Invalid email';
					          break;
					        case 'phone':
									  if (!this.phone) {
									    this.errors.phone = 'Phone number is required';
									  } else {
									    const cleaned = this.phone.replace(/[^0-9]/g, ''); // Clean all non-numbers
									    if (!(cleaned.length === 10 || (cleaned.length === 11 && cleaned.startsWith('1')))) {
									      this.errors.phone = 'Please enter a valid US phone number';
									    }
									  }
									  break;
					        case 'address':
					          if (!this.address) this.errors.address = 'Address is required';
					          break;
					        case 'time':
					          if (!this.time) this.errors.time = 'Ownership time is required';
					          break;
					        case 'sellby':
					          if (!this.sellby) this.errors.sellby = 'Sell by date is required';
					          break;
					        case 'price':
					          if (!this.price) this.errors.price = 'Price is required';
					          break;
					        case 'message':
					          if (!this.message) this.errors.message = 'Message is required';
					          break;
					        case 'userType':
					          if (!this.userType) this.errors.userType = 'User type is required';
					          break;
									case 'status':
										if (!this.status) this.errors.status = 'Status is required';
										break;
									case 'agreed':
									if (!this.agreed) this.errors.agreed = 'Agreement is required';
									break;
					      }
					      return !this.errors[field];
					    },
					    validateForm() {
					      this.errors = {};
					      [
					        'name',
					        'email',
					        'phone',
					        'address',
					        'time',
					        'sellby',
					        'price',
					        'message',
					        'userType',
									'status',
									'agreed',
					      ].forEach(f => this.validateField(f));
					      return !Object.values(this.errors).some(error => error !== '');
					    },
					    submitForm() {
					      if (!this.validateForm()) return;

					      const formData = {
					        name: this.name,
					        email: this.email,
					        phone: this.phone,
					        address: this.address,
					        time: this.time,
					        sellby: this.sellby,
					        price: this.price,
					        message: this.message,
					        userType: this.userType,
									status: this.status,
									agreed: this.agreed,
					      };
								//troubleshooting
						    //console.log('Submitting form data:', formData);
								
					      fetch('/.netlify/functions/submit-to-sheet', {
					        method: 'POST',
					        headers: { 'Content-Type': 'application/json' },
					        body: JSON.stringify(formData)
					      })
					      .then(res => {
					        if (res.ok) {
					          window.location.href = '/thank-you';
					        } else {
					          alert('There was a problem submitting the form. Please try again.');
					        }
					      })
					      .catch(err => {
					        console.error('Error submitting form:', err);
					        alert('An unexpected error occurred.');
					      });
					    }
					  }"
							x-on:submit.prevent="submitForm()">
							<!-- Netlify Spam Protection -->
							<input type="hidden" name="form-name" value="contact" />
							<p class="hidden">
								<label>Don't fill this out: <input name="bot-field" /></label>
							</p>
							<!-- Basic Information Section -->
							<h3 class="mb-10 text-2xl font-bold text-white">Lets Get To Know You.</h3>
							<!-- Who Are You? -->
							<div class="flex flex-col gap-4 mb-6 sm:flex-row">
								<label class="flex items-center">
									<input type="radio" name="userType" value="homeowner" x-model="userType" required />
									<span class="ml-1 font-bold text-white font-paragraph">I'm a Homeowner</span>
								</label>
								<label class="flex items-center">
									<input type="radio" name="userType" value="investor" x-model="userType" required />
									<span class="ml-1 font-bold text-white font-paragraph">I'm a Investor</span>
								</label>
								<label class="flex items-center">
									<input type="radio" name="userType" value="agent" x-model="userType" required />
									<span class="ml-1 font-bold text-white font-paragraph">I'm a Agent</span>
								</label>
							</div>
							<p x-show="errors.userType" class="text-sm text-red-500" x-text="errors.userType"></p>
							<!-- Name -->
							<input
								class="w-full px-12 py-4 mb-3 font-bold placeholder-gray-500 bg-white rounded-full focus:outline-none"
								type="text"
								placeholder="Full Name"
								id="name"
								name="name"
								x-model="name"
								x-bind:class="{'border border-red-500': errors.name}"
								x-on:blur="validateField('name')"
								required
							/>
							<p x-show="errors.name" class="my-1 text-sm text-red-400" x-text="errors.name"></p>
							<!-- Phone and Email -->
							<input
								class="w-full px-12 py-4 mb-3 font-bold placeholder-gray-500 bg-white rounded-full focus:outline-none"
								type="email"
								placeholder="Email"
								id="email"
								name="email"
								x-model="email"
								x-bind:class="{'border border-red-500': errors.email}"
								x-on:blur="validateField('email')"
								required
							/>
							<p x-show="errors.email" class="my-1 text-sm text-red-400" x-text="errors.email"></p>
							<input
								class="w-full px-12 py-4 mb-3 font-bold placeholder-gray-500 bg-white rounded-full focus:outline-none"
								type="tel"
								placeholder="Phone Number"
								id="phone"
								name="phone"
								x-model="phone"
								x-bind:class="{'border border-red-500': errors.phone}"
								x-on:blur="validateField('phone')"
								required
							/>
							<p x-show="errors.phone" class="my-1 text-sm text-red-400" x-text="errors.phone"></p>
							<h3 class="my-10 text-2xl font-bold text-white">Tell Us About Your Property.</h3>
							<!-- Property Section -->

							<!-- Property Address -->
							<input
								class="w-full px-6 py-4 mb-3 font-bold placeholder-gray-500 bg-white rounded-full focus:outline-none"
								type="text"
								placeholder="Property Address"
								id="address"
								name="address"
								x-model="address"
								x-bind:class="{'border border-red-500': errors.address}"
								x-on:blur="validateField('address')"
								required
							/>
							<p x-show="errors.address" class="my-1 text-sm text-red-400" x-text="errors.address"></p>
							<!-- Property Status -->
							<div class="mb-3">
								<div class="relative">
									<select
										class="block w-full px-6 py-4 font-bold bg-white border rounded-full appearance-none border-gray-50 focus:outline-none"
										name="status"
										id="status"
										x-model="status"
										x-bind:class="{'border border-red-500': errors.status}"
										x-on:blur="validateField('status')"
										required>
										<option value="">Status of Listing</option>
										<option value="Active">Active</option>
										<option value="FSBO">For Sale By Owner</option>
										<option value="Foreclosure">Foreclosure</option>
										<option value="Pending">Pending</option>
									</select>
									<div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
										<svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
											<path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
										</svg>
									</div>
								</div>
							</div>
							<p x-show="errors.status" class="my-1 text-sm text-red-400" x-text="errors.status"></p>
							<!-- How long have you owned the property? -->
							<div class="mb-3">
								<div class="relative">
									<select
										class="block w-full px-6 py-4 font-bold bg-white border rounded-full appearance-none border-gray-50 focus:outline-none"
										name="ownershiptime"
										id="ownershiptime"
										x-model="time"
										x-bind:class="{'border border-red-500': errors.time}"
										x-on:blur="validateField('time')"
										required>
										<option value="" style="color: #6b7280;">How Long Have You Owned The Property?</option>
										<option value="0-11">0-11 months</option>
										<option value="1-5">1-5 years</option>
										<option value="5-15">5-15 years</option>
										<option value="15-25">15-25 years</option>
										<option value="26+">26+ years</option>
									</select>
									<div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
										<svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
											<path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
										</svg>
									</div>
								</div>
							</div>
							<p x-show="errors.time" class="my-1 text-sm text-red-400" x-text="errors.time"></p>
							<!-- When Would You Like To Sell? -->
							<div class="mb-3">
								<div class="relative">
									<select
										class="block w-full px-6 py-4 font-bold bg-white border rounded-full appearance-none border-gray-50 focus:outline-none"
										name="sellTimeframe"
										id="sellTimeframe"
										x-model="sellby"
										x-bind:class="{'border border-red-500': errors.sellby}"
										x-on:blur="validateField('sellby')"
										required>
										<option value="">When Would You Like To Sell?</option>
										<option value="asap">ASAP</option>
										<option value="within-year">Within the year</option>
										<option value="next-year">Next year or later</option>
									</select>
									<div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
										<svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
											<path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
										</svg>
									</div>
								</div>
							</div>
							<p x-show="errors.sellby" class="my-1 text-sm text-red-400" x-text="errors.sellby"></p>
							<!-- Ideal Asking Price -->
							<input
								class="w-full px-6 py-4 mb-3 font-bold placeholder-gray-500 bg-white rounded-full focus:outline-none"
								type="text"
								placeholder="Ideal Asking Price? (USD)"
								id="price"
								name="price"
								x-model="price"
								x-bind:class="{'border border-red-500': errors.price}"
								x-on:blur="validateField('price')"
								required
							/>
							<p x-show="errors.price" class="my-1 text-sm text-red-400" x-text="errors.price"></p>
							<!-- Message -->
							<textarea
								class="w-full px-6 py-4 mb-6 font-bold placeholder-gray-500 bg-white resize-none rounded-3xl focus:outline-none"
								name="message"
								id="message"
								cols="20"
								rows="5"
								placeholder="What is the most important to you when working with us?"
								x-model="message"
								x-bind:class="{'border border-red-500': errors.message}"
								x-on:blur="validateField('message')"
								required></textarea>
							<p x-show="errors.message" class="my-1 text-sm text-red-400" x-text="errors.message"></p>
							<div class="flex mb-10">
								<input type="checkbox" name="agreed" id="agreed" x-model="agreed" x-bind:class="{'border border-red-500': errors.message}" x-on:blur="validateField('message')" value="yes" />
								<p class="pl-4 max-w-md text-sm text-gray-300">
									By submitting your informatio, you consent to recieve phone calls, and text messages from Final Frontier Homes. Consent is not required to make a purchase and can be revoked at any
									time. Message and data rates may apply. By submitting, you also agree to our Privacy Policy and Terms of Service.
								</p>
							</div>
							<p x-show="errors.agreed" class="my-1 text-sm text-red-400" x-text="errors.agreed"></p>
							<button type="submit" class="px-12 py-4 font-bold text-white transition duration-200 bg-red-800 rounded-full hover:bg-red-900">Send message</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	select:invalid {
		color: #6b7280; /* Gray color for placeholder */
	}

	select option:first-child {
		color: #6b7280;
	}

	select option {
		color: #111827; /* Dark color for other options */
	}
</style>
